/* body{
    background-color: #0a5252b7;
}
#header{
    text-align:center;
    color: azure;
}
.text-center{
    color: aliceblue;
}
.form{
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
}
.head{
    background-color: rgb(70, 69, 71);
}
#form{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
 */
