/* html{
    background-image: url("{% static 'img1.jpg' %}");
    background-size: 300px 100px;
} */
*{
    margin:0px;
    
    padding: 0px;
}
body{
    overflow: hidden;
}

.card{
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.225);
    perspective: 1000px;
    width: 380px;
    height: 500px;
    border-radius: 10px;
   
}
.inner-box{
    position:relative;
    width: 100%;
    height: 100%;
    transition:transform 1s;
    transform-style: preserve-3d;
    z-index: 2000;
}
.container:before{
    content: '';
 border: 10px solid rgba(100, 3, 103, 0.244);

 filter: blur();
    background-color: rgba(22, 4, 19, 0.242);
    width: 50%;
    height:400px;
    overflow: hidden;
    border-radius:50%;
    position: absolute;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container:after{
    content: '';
 position: absolute;
 width: 900px;
 height: 900px;
 border-radius: 20px 30px 500px 50px;
 background: linear-gradient(45deg,rgba(135, 207, 235, 0.205),rgba(249, 12, 249, 0.505));
 top:10%;
 left:-20%;
 overflow: hidden;
 transform: translateY(-50%);
 z-index: 9000;
 
}

body:before{
    content: '';
 position: absolute;
 transform: translateX(50px);
 top: 300px;
 left: 1000px;
 z-index: 0;
 bottom: 100px;
 width: 600px;
 height: 500px;
 border-radius: 50px;
 background: linear-gradient(90deg ,rgba(104, 104, 177, 0.377),rgba(45, 155, 233, 0.358));
 
}

.container{
    width:100%;
    height:100vh;
    overflow: hidden;
    font-family: sans-serif;
    background:rgba(84, 1, 126, 0.943) ;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-front ,.card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background: url("flipimage.jpg");
    box-shadow:inset 3px 3px  3.8px  rgba(252, 253, 255, 0.946) ,5px 6px 4px   rgba(26, 27, 28, 0.687),inset 0px 0px 100px  1.0px rgba(107, 3, 102, 0.876);
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
    
    
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color:rgb(255, 0, 242)
}
.input-box{
    width: 100%;
    background: transparent;
    border: 1px solid #fff;
    margin:6px 0;
    height: 32px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    color: #fff;
    
}
::placeholder{
    color: #fff;
    font-size: 14px;

}
a ,button{
    width: 100%;
    background: transparent;
    border: 1px solid rgb(255, 255, 255);
    margin: 35px 0 10px;
    height:32px;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    color: #fff;
    outline: none;
    cursor: pointer;
}
.submit-btn{
    position: relative;

}
.btn{
    color:red;
    
}
.btn:hover{
    background-color: #333;
    font-size: 15px;
    color:#fff
}
.submit-btn::after{
    content:'\27a4';
    color:#333;
    line-height: 32px;
    margin-left: 5px;
    border-radius: 50%;
    background: rgb(43, 21, 39);
    
}
span{
    margin-left:13px;
    font-size: 10px;
}
.card .btn{
    margin-top:70px;
}
.card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}
.submit-btn{
    /* transition: 1000s; */
}

.submit-btn:hover{
    
    background-color: rgba(35, 35, 245, 0.61);
}
    