{% extends 'councillor.html' %}

{% block content %}
<div class="col-lg-12">

    <form method="POST"  >
        <div class="row">
     <div class="col-lg-12">
  {% if messages %}
    {% for message in messages %}
    <div class="text-danger alert alert-{{message.tags}}">
        {{message}}
    </div>
        {% endfor %}
    {% endif %}
     </div>
 </div>

        {% csrf_token %}
    <div class="container ">

        <div class="row container">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <div class="row g-3" >

                    <h3 class="head text-warning" >


                        <b>Do WebScarping</b> </h3>
                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
                        <input name="urltoget" type="text" class="form-control" placeholder="url" size="4"required>
                    </div>
                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
<!--                        <input name="lastname" type="text" class="form-control" placeholder="Last Name" required>-->
                    </div>


                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
                        <input name="outer" id="outer" type="text" class="form-control" placeholder="Element To Get" required>
                    </div>
                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
<!--                        <input name="lastname" type="text" class="form-control" placeholder="Last Name" required>-->
                    </div>

                     <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
                        <input name="attribute1" id="attribute1" type="text" class="form-control" placeholder="Attribute" required>
                    </div>
                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6" >
                        <input name="value1" id="value1" type="text" class="form-control" placeholder="Value" required>
                    </div>



                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
                         <input name="innerelement" type="text" class="form-control" placeholder="Inner Element" required>
                    </div>
                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
<!--                        <input name="lastname" type="text" class="form-control" placeholder="Last Name" required>-->
                    </div>
                  <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6">
                        <input name="attribute2" id="attribute2" type="text" class="form-control" placeholder="Attribute" required>
                    </div>
                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-6 col-xxl-6" >
                        <input name="value2" id="value2" type="text" class="form-control" placeholder="Value" required>
                    </div>


                    <div class="col col-sm-12 col-md-12 col lg-12 col-xl-12 col-xxl-12">
                        <button    class="btn " id="a-list">Submit</button>
                        <h6></h6>
                    </div>

                </div>

            </div>
        </div>
    </div>

</form>
<!-- <script>
    $('form').submit(fuction(){
        var a= $('#pass1').val();
        var b=$('#pass2').val();
        if(a==b){
            alert("successfullly registered")
return false;


        }
    }
    ) ;          </script> -->
                </div>
 <div class="row">

    <div class="col-md-12">
          <h1> </h1>
    </div>
  </div>
{% endblock %}