{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">LOGO</a>
     
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
       
      </div> <a href="http://127.0.0.1:8000/#" button class="btn btn-success">Home</a></button>
     
    </div>
    <a href="http://127.0.0.1:8000/gvtview/" button class="btn btn-success ">View</a></button><br>
  </nav>
    <!-- {{ id }} -->
    <form method="POST">
      {% csrf_token %}
    <div class="container">
        <div class="m-5">
    
           
                  <div class="container">
                   
                    <table class="container table-cont">
                      <tr>
                        <td><b>Project details :</b></td>
                        <td><textarea name="projectdetails" id="" cols="80" rows="2"></textarea></td>
                      </tr>
                      <tr>
                      <td><b>Place :</b></td>
                      
                        <td><input type="text" name="place" id="" cols="50" rows="2"></input type="text"></td>
                      </tr>
                      <tr>
                        <td><b>Fund Details :</b></td>
                          <td><input type="number" name="funddetails" id="" cols="50" rows="2"></input type="numbers"></td>
                        </tr>
                        <tr>
                         <td></td> 
                         <td><button class="btn btn-success mt-5">Submit</button></td>
                         </tr>
                         </table>
    </div>
    </div>
    </div>
  </form>
</body>
</html>